.ui.container, .ui.form, ui.form.input, .ui.modal, .ui.button, .ui.header, .header, a.item, h5, input {
  font-family: 'Josefin Sans', sans-serif !important;
}

h1.item, ui.menu {
  font-family: 'Poiret One', cursive !important;
  font-size: 40px;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

h2.ui.center.aligned.header, .modal {
  font-family: 'Poiret One', cursive !important;
  font-size: 30px;
}

.ui.card {
  font-family: 'Josefin Sans', sans-serif !important;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.ui.card:hover {
  background-color: #eee;
  transform: scale(1.025);
}

.ui.button {
  font-family: 'Josefin Sans', sans-serif !important;
  transition: all .2s ease-in-out;
  margin-left: 7px !important;
  margin-right: 7px !important;
}

.ui.button:hover {
  transform: scale(1.025);
}
